{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.answer_list'|trans }}
{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1 class="display-5 text-primary mb-4">{{ 'title.answer_list'|trans }}</h1>
        {% if pagination is defined and pagination.items|length %}
            <div class="navigation text-center mb-3">
                {{ knp_pagination_render(pagination) }}
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="add-new mb-3">
                    <a href="{{ url('answer_create') }}" class="btn btn-primary" title="{{ 'action.create'|trans }}">
                        {{ 'action.create'|trans }}
                    </a>
                </div>
            {% endif %}

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'answer.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'answer.content') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.is_correct'|trans, 'answer.isCorrect') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.position'|trans, 'answer.position') }}</th>
                    <th>{{ 'label.question'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for answer in pagination.items %}
                    <tr>
                        <td>{{ answer.id }}</td>
                        <td>{{ answer.content }}</td>
                        <td>{{ answer.isCorrect ? 'label.yes'|trans : 'label.no'|trans }}</td>
                        <td>{{ answer.position }}</td>
                        <td>
                            <a class="btn btn-outline-primary me-2" href="{{ url('question_view', {id: answer.question.id}) }}" title="{{ answer.question.content }}">
                                {{ answer.question.content }}
                            </a>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-outline-primary me-2" href="{{ url('answer_view', {id: answer.id}) }}" title="{{ 'action.view'|trans }}">
                                        {{ 'action.view'|trans }}
                                    </a>
                                    <a class="btn btn-outline-warning me-2" href="{{ url('answer_edit', {id: answer.id}) }}" title="{{ 'action.edit'|trans }}">
                                        {{ 'action.edit'|trans }}
                                    </a>
                                    <a class="btn btn-outline-danger" href="{{ url('answer_delete', {id: answer.id}) }}" title="{{ 'action.delete'|trans }}">
                                        {{ 'action.delete'|trans }}
                                    </a>
                                {% else %}
                                    <a class="btn btn-outline-primary me-2" href="{{ url('answer_view', {id: answer.id}) }}" title="{{ 'action.view'|trans }}">
                                        {{ 'action.view'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p class="alert alert-info">{{ 'message.empty_list'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}