{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.question_details'|trans({'%id%': question.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1 class="display-5 text-primary mb-4">{{ 'title.question_details'|trans({'%id%': question.id|default('')}) }}</h1>

        {% if question is defined %}
            <div class="card shadow-sm">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 text-muted">{{ 'label.id'|trans }}</dt>
                        <dd class="col-sm-9">{{ question.id }}</dd>
                        <dt class="col-sm-3 text-muted">{{ 'label.content'|trans }}</dt>
                        <dd class="col-sm-9">{{ question.content }}</dd>
                        <dt class="col-sm-3 text-muted">{{ 'label.points'|trans }}</dt>
                        <dd class="col-sm-9">{{ question.points }}</dd>
                        <dt class="col-sm-3 text-muted">{{ 'label.position'|trans }}</dt>
                        <dd class="col-sm-9">{{ question.position }}</dd>
                        <dt class="col-sm-3 text-muted">{{ 'label.quiz'|trans }}</dt>
                        <dd class="col-sm-9">{{ question.quiz.title }}</dd>
                    </dl>
                </div>
                <div class="card-footer bg-light d-flex flex-wrap gap-2 justify-content-between">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-outline-warning" href="{{ url('question_edit', {id: question.id}) }}" title="{{ 'action.edit'|trans }}">
                            <i class="bi bi-pencil"></i> {{ 'action.edit'|trans }}
                        </a>
                        <a class="btn btn-outline-danger" href="{{ url('question_delete', {id: question.id}) }}" title="{{ 'action.delete'|trans }}">
                            <i class="bi bi-trash"></i> {{ 'action.delete'|trans }}
                        </a>
                    {% endif %}
                    <a href="{{ url('question_index') }}" title="{{ 'action.back_to_list'|trans }}" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left"></i> {{ 'action.back_to_list'|trans }}
                    </a>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                {{ 'message.record_not_found'|trans }}
            </div>
        {% endif %}
    </div>
{% endblock %}