{% extends 'base.html.twig' %}

{% block title %}Dodaj pytanie do FAQ{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Dodaj pytanie do FAQ</h1>

        {{ form_start(form) }}
        {{ form_row(form.question) }}
        {{ form_row(form.answer) }}
        {{ form_row(form.position) }}
        <button class="btn btn-primary">Zapisz</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
