{% extends 'base.html.twig' %}

{% block title %}Edytuj dane{% endblock %}

{% block body %}
    <h1>Edytuj dane</h1>

    {{ form_start(editForm) }}
    {{ form_row(editForm.imie) }}
    {{ form_row(editForm.nazwisko) }}
    {{ form_row(editForm.szkola) }}
    {{ form_row(editForm.wojewodztwo) }}
    {{ form_row(editForm.powiat) }}
    {{ form_row(editForm.podzialWiekowy) }}

    <button class="btn btn-primary">Zapisz</button>
    {{ form_end(editForm) }}
    <button type="button" class="btn btn-secondary" onclick="history.back()">Wróć</button>

{% endblock %}
