{% extends 'base.html.twig' %}

{% block title %}Edytuj dane{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Edytuj dane</h2>

        {{ form_start(editForm) }}
        {{ form_row(editForm.email) }}
        {{ form_row(editForm.imie) }}
        {{ form_row(editForm.nazwisko) }}
        <button class="btn btn-primary">Zapisz</button>
        {{ form_end(editForm) }}
    </div>
{% endblock %}
