{% extends 'base.html.twig' %}

{% block title %}Edycja użytkownika{% endblock %}

{% block body %}
    <div class="row mb-4">
        <div class="col-md-6">
            <h2>Zmiana e-mail</h2>
            {{ form_start(authForm) }}
            {{ form_row(authForm.email) }}
            <button class="btn btn-primary mt-2 me-2">Zapisz e-mail</button>
            {{ form_end(authForm) }}

            <h3 class="mt-4">Zmiana hasła</h3>
            {{ form_start(passwordForm) }}
            {{ form_row(passwordForm.plainPassword) }}
            <button class="btn btn-warning mt-2">Zmień hasło</button>
            {{ form_end(passwordForm) }}
        </div>


        <div class="col-md-6">
            <h2>Dane osobowe</h2>
            {{ form_start(profileForm) }}
            {{ form_row(profileForm.imie) }}
            {{ form_row(profileForm.nazwisko) }}
            {{ form_row(profileForm.szkola) }}
            {{ form_row(profileForm.wojewodztwo) }}
            {{ form_row(profileForm.powiat) }}
            {{ form_row(profileForm.podzialWiekowy) }}
            <button class="btn btn-primary mt-2">Zapisz dane profilu</button>
            {{ form_end(profileForm) }}
        </div>

    </div>

    <a href="{{ path('admin_user_list') }}" class="btn btn-secondary">Powrót</a>
    </div>
{% endblock %}