{% extends 'base.html.twig' %}

{% block title %}{{ 'title.about'|trans }}{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="display-4 text-center text-primary mb-4">{{ 'O nas'|trans }}</h1>

    <div class="lead text-center mb-4">
        {{ 'Od 2000 roku przekazujemy dobro innym na wszelkie sposoby i zamieniamy je w konkretną pomoc. To wtedy połączyliśmy siły, pomysły i energię osób, które kilka lat wcześniej tworzyły grupę wsparcia dla Młodzieżowego Ośrodka Wychowawczego w Mszanie Dolnej.'|trans }}
    </div>

    <div class="text-center">
        <p>{{ 'W Stowarzyszeniu Sursum Corda (łac. „w górę serca”) zamieniamy dobre myśli w czyn - tworząc i realizując mądrą pomoc oraz inicjatywy obywatelskie. Wspieramy osoby w trudnych sytuacjach życiowych, organizujemy wolontariat, pomoc prawną, rehabilitacyjną, medyczną i społeczną. Działamy zwłaszcza na rzecz dzieci, młodzieży, seniorów, osób z niepełnosprawnościami oraz opuszczających zakłady karne.

Jesteśmy aktywną organizacją pozarządową, z siedzibą w Nowym Sączu, działającą od 2000 r. Są dla nas ważne: wzajemny szacunek, drugi człowiek, rozwiązania systemowe, odpowiedzialność, samodzielność, empatia, przyjazna komunikacja oraz zaangażowanie i efekty. Korzystamy z nowych technologii, ale zawsze najważniejsi są ludzie. Cenimy liderów umiejących współpracować w grupie.'|trans }}</p>
        <p>{{ 'team do uzupelnienia'|trans }}</p>
    </div>
</div>
{% endblock %}
