
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Certyfikat</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;1,400&family=Luckiest+Guy&display=swap" rel="stylesheet">
    <style>

        html, body {
            padding: 0;
            width: 210mm;
            height: 297mm;
            margin: 10px;
            font-family: Arial, sans-serif;
            background: white;
        }

        .certificate {

            width: 210mm;
            height: 340mm;
            margin: 0mm;
            border: 10px solid #9c27b0;
            padding: 30px;
            box-sizing: border-box;
            text-align: center;
            border-radius: 10px;

            display: table;
        }

        .certificate > * {
            display: table-row;
            vertical-align: middle;
            height: calc(340mm / 3);
        }

        h1 {
            font-family: "Luckiest Guy";
            color: #9c27b0;
            font-size: 90pt;
            margin-bottom: 20px;
        }

        h2 {
            color: #333;
            font-size: 24pt;
            margin: 10px 0;
        }

        p {
            font-size: 16pt;
            color: #555;
            margin: 8px 0;
        }

        .date {
            font-style: italic;
            color: #777;
        }

        img {
            width: 200mm;
        }
    </style>
</head>
<body>
<div class="certificate">
    <div>
        <h1>Dziękujemy za udział!</h1>
        <h2>Potwierdzenie uczestnictwa w konkursie</h2>
    </div>
    <div>
        <p><strong>Imię i nazwisko:</strong> {{ user.imie }} {{ user.nazwisko }}</p>
        <p><strong>Zdobyto punktów:</strong> {{ score }}%</p>
        <p class="date">Data: {{ "now"|date("d.m.Y") }}</p>
        <p><strong>Quiz:</strong> {{ quiz.title }}</p>
    </div>

    <div class="image-wrapper">
        <img src="{{ absolute_url(asset('images/puchary.png')) }}" alt="Puchary"/>
    </div>
</div>

</body>
</html>
